# Python
__pycache__/
*.pyc
venv/
.env
*/__pycache__/

# logs
logs/

# outputs
outputs/

# your tests folder
tests/test_output/

# OS junk
.DS_Store
Thumbs.db

# Node
node_modules/
package-lock.json
ui/frontend/node_modules/
ui/frontend/package-lock.json
ui/backend/node_modules/
ui/backend/package-lock.json

# Logs
outputs/logs/*
outputs/ui_tasks/*
outputs/config_runs/*

# OS
.DS_Store
Thumbs.db

# Exe
*.exe
*.spec
build/
dist/
build_temp/
